.text-item {
  cursor: move;
  display: inline-block;
  position: relative;
  user-select: none;
  /* Prevent text selection during drag */
}

.text-item.selected::before {
  --extra-width: 10px;
  --width: calc(100% + var(--extra-width));
  content: "";
  width: var(--width);
  height: var(--width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #333;
  z-index: -1;
  border-radius: 4px;
}
